<section class="hero is-medium homepage">
  <div class="carrousel">
    <% restaurants.forEach(restaurant => { %>
    <div class="imgCarrousel" style="background: url(<%=restaurant.image%>)">
    </div>
    <% }) %>
  </div>
  <h1 class="title is-size-1-desktop is-size-3-touch has-text-grey has-text-centered">Find your perfect kid-friendly restaurants and cafes</h1>
</section>

<section class="section">
  <div class="columns has-text-centered">
    <div class="column"></div>
    <div class="column is-one-third">
      <h3 class="subtitle is-size-3-desktop is-size-5-touch has-text-grey">Find the best places to eat with your children</h3>
      <div class="content has-text-grey-light">Thousands of restaurants and cafes tested by other parents and by the by the pickiest eaters - everything from street food to fine dining</div>
    </div>
    <div class="column"></div>
    <div class="column is-one-third">
      <h3 class="subtitle is-size-3-desktop is-size-5-touch has-text-grey">See the latest reviews by parents</h3>
      <div class="content has-text-grey-light">Thousands of reviews by the parent community to find the best places to eat, hold birthday parties or have fun with children </div>
    </div>
    <div class="column"></div>
  </div>
</section>
