<div class="container">
  <div class="title is-4">Please login</div>
  <form method="POST" action="/login">

    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left">
        <input name="email" class="input" type="text" placeholder="Your email" required>
        <span class="icon is-small"><i class="far fa-envelope"></i></span>
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input name="password" class="input" type="password" placeholder="Your password" required>
      </div>
    </div>
    <button class="button">Login</button>
  </form>
</div>
