<div class="container">
  <span class="title is-4">Add a new restaurant</span><span class="has-text-grey"> - All fields are required <span/>
  <br><br>
  <form method="POST" action="/restaurants">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input name="name" class="input" type="text" placeholder="Name of restaurant" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Location (City)</label>
      <div class="control has-icons-left">
        <input id="autocompleteCity" name="location" class="input" type="text" placeholder="City" required>
        <span class="icon is-small"><i class="fas fa-map-marker"></i></span>
      </div>
    </div>
    <div class="field">
      <label class="label">Price range</label>
      <div class="control select">
          <select name="priceRange" required>
            <option value="">Select price range</option>
            <option value="£">£</option>
            <option value="££">££</option>
            <option value="£££">£££</option>
            <option value="££££">££££</option>
          </select>
      </div>
    </div>
    <div class="field">
      <label class="label">Cuisine</label>
      <div class="control">
        <input name="cuisine" class="input" type="text" placeholder="Type of cuisine" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Description</label>
      <div class="control">
        <textarea name="description" class="textarea" placeholder="Description (380 chars max)" required maxlength="380"></textarea>
      </div>
    </div>
    <div class="field">
      <label class="label">Image</label>
      <div class="control">
        <div id="dropzone" style="width:500px;height:100px;"></div>
        <input class="InputImage" name="image" class="input" type="hidden" value ="" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Address</label>
      <div class="control has-icons-left">
        <input id="autocompleteAddress" name="address" class="input" type="text" placeholder="Address" required>
        <span class="icon is-small"><i class="fas fa-home"></i></span>
      </div>
    </div>
    <div class="field">
      <label class="label">Phone (in the  form xxx-xxxx-xxxx)</label>
      <div class="control has-icons-left">
        <input name="phone" class="input" type="tel" placeholder="Phone Number" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" required>
        <span class="icon is-small"><i class="fas fa-phone"></i></span>
      </div>
    </div>
    <div class="field">
      <label class="label">Website</label>
      <div class="control has-icons-left">
        <input name="website" class="input" type="url" placeholder="Website" pattern="/^https?:\/\/.+/" required>
        <span class="icon is-small"><i class="fas fa-desktop"></i></span>
      </div>
    </div>
    <div class="control">
      <button class="button is-primary">Submit</button>
    </div>
  </form>
</div>
