<div class="container googleMaps">
  <iframe
    width="560"
    height="200"
    frameborder="0" style="border:0"
    src="<%=`https://www.google.com/maps/embed/v1/place?key=AIzaSyDln8898bxuHv1pmJNbNsvXUoCVjBMNWIc&q=Space+Needle,${encodeURI(restaurant.address)}`%>" allowfullscreen>
  </iframe>
</div>
